.imagenes{
	width: 100%!important;
	height: 400px;
}

.titulo{
	text-align: center;
	color: pink;
}

.imgfondo{
	background-image: url("/assets/img1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}